.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.a-router {
  @apply text-white
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html, body, label {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 960px) {
  .loader img {
    height: 320px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;